
@{
    ViewData["Title"] = "ExamResultMonitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>ExamResultMonitor</h2>
    <div> 
        <form class="form-inline" action="/action_page.php">
            <label for="email">Search With :</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>