
@{
    ViewData["Title"] = "Training_Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Training_Record</h1>

 [StaffCode]
      ,[Name_of_training]
      ,[Lecturer]
      ,[Training_completion_day]
      ,[Training_summary]
      ,[Training_material]
      ,[Rev]
      ,[Cost]
      ,[Evaluation_of_results]
      ,[Remarks]