
@{
    ViewData["Title"] = "Training_Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<html>

<head>
    
</head>
<body>
    <div class="container">


        <table class="table table-sm table-bordered table-striped  " style="font-size:small; color:black; width:100%; background-color:#fff;" id="myTable">
            <thead>
                <tr>

                    <th style="text-align:center;" class="text-wrap">StaffCode</th>
                    <th style="text-align:center;" class="text-wrap">Name_of_training</th>
                    <th style="text-align:center;" class="text-wrap">Lecturer</th>
                    <th style="text-align:center;" class="text-wrap">Training_completion_day</th>
                    <th style="text-align:center;" class="text-wrap">Training_summary</th>
                    <th style="text-align:center;" class="text-wrap">Training_material</th>
                    <th style="text-align:center;" class="text-wrap">Rev</th>
                    <th style="text-align:center;" class="text-wrap">Cost</th>
                    <th style="text-align:center;" class="text-wrap">Evaluation_of_results</th>
                    <th style="text-align:center;" class="text-wrap">Remarks</th>              


                </tr>
            </thead>

        </table>




    </div>



    <script type="text/javascript">





        function LoadData(LotNo) {




        }

    </script>




</body>


</html>