
@{
    ViewData["Title"] = "TEC_Approved";
    Layout = "_Layout";
}

<html>
<head>

</head>
<body>

    <div class="container-fluid">

        <div class="row justify-content-center">
            <h1>TEC APPROVED</h1>


        </div>


        <table class="table table-sm table-bordered table-striped  " style="font-size:small; color:black; width:100%; background-color:#fff;" id="MyTable">
            <thead>
                <tr>



                    <th style="text-align:center;" class="text-wrap">DocNo</th>
                    <th style="text-align:center;" class="text-wrap"> ReqOperatorID </th>
                    <th style="text-align:center;" class="text-wrap"> ReqDate </th>
                    <th style="text-align:center;" class="text-wrap"> Total Job </th>
                    <th style="text-align:center;" class="text-wrap"> Detail </th>



                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>


        <div class="modal fade mt-5 text-center rounded" id="Modal_Detail" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_Detail" aria-hidden="true">
            <div class="modal-dialog  rounded" role="document" style="max-width:1200px;">


                <div class="modal-dialog  rounded" role="document" style="max-width:1200px;">
                    <div class="modal-content">
                        <div class="modal-header text-center rounded bg-light " style="background-repeat:no-repeat; background-size:cover; background-position:center center; height:60px;width:100%; border-bottom:2px #e96514 solid ">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="btn btn-secondary">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body ">


                            <div class="card">
                                <div class="card-header justify-content-center">

                                    <h2> DocNO :     <label id="LB_DocNO" class="text-dark">       </label> </h2>


                                </div>



                                <div class="card-body justify-content-center overflow-auto" style="height:400px;">
                                    <div class="col   justify-content-center pl-md-10 pr-md-10 pt-2 pb-2" id="DetailMain">


                                        <table class="table table-sm table-bordered table-striped  " style="font-size:small; color:black; width:100%; background-color:#fff;" id="MyTable_Detail">
                                            <thead>
                                                <tr>

                                                    @*<th style="text-align:center;" class="text-wrap">nbr</th>
                                                        <th style="text-align:center;" class="text-wrap"> docNo </th>*@
                                                    <th style="text-align:center;" class="text-wrap"> seq </th>
                                                    <th style="text-align:center;" class="text-wrap"> operatorID </th>
                                                    <th style="text-align:center;" class="text-wrap"> sectionCode </th>
                                                    <th style="text-align:center;" class="text-wrap">sectionAttribute</th>
                                                    <th style="text-align:center;" class="text-wrap"> operatorGroup </th>
                                                    <th style="text-align:center;" class="text-wrap"> license </th>
                                                    <th style="text-align:center;" class="text-wrap"> active </th>
                                                    <th style="text-align:center;" class="text-wrap"> reqOperatorID </th>
                                                    <th style="text-align:center;" class="text-wrap"> reqDate </th>
                                                    @*<th style="text-align:center;" class="text-wrap"> changeOperatorID </th>
                                                        <th style="text-align:center;" class="text-wrap"> changeDate </th>*@

                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>



                                    </div>

                                </div>


                            </div>


                        </div>

                        <div class="modal-footer">

                            @*<div class="row justify-content-end">

                                <div class="col-5 text-center">*@

                            <button class="btn btn-success  " id="BTN_Approved">

                                Approve
                            </button>

                            @*</div>


                                </div>*@

                        </div>


                    </div>



                </div>
            </div>





        </div>



    </div>











    @section scripts{
        @*<script src="~/lib/jquery/jquery.min.js"></script>*@




        @*<link href="~/lib/datatables/Css/jquery.dataTables.min.css" rel="stylesheet" />
            <script src="~/lib/datatables/Js/jquery.dataTables.min.js"></script>
                <script src="~/lib/DataTables/js/dataTables.responsive.js"></script>*@



        <script src="~/lib/bootstrap/js/bootstrap.js"></script>



        <link href="~/lib/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/rowGroup.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/scroller.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/select.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/buttons.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />

        <script src="~/lib/DataTables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.colReorder.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.keyTable.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/DataTables/js/responsive.bootstrap4.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.rowGroup.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.rowReorder.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.scroller.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.select.min.js"></script>
        <script src="~/lib/DataTables/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/DataTables/js/buttons.bootstrap.min.js"></script>
        <script src="~/lib/DataTables/js/buttons.flash.min.js"></script>
        <script src="~/lib/DataTables/js/buttons.html5.min.js"></script>
        <script src="~/lib/DataTables/js/buttons.print.min.js"></script>






        <script type="text/javascript">

            var TableTarget;


            $(document).ready(function () {
                ShowGrid()
                debugger

            });


            //$(window).load(function () {
            //    debugger
            //    ShowGrid()
            //});


            function ShowGrid() {
                debugger

                if (TableTarget != null) {
                    TableTarget.destroy();
                }
                debugger
                try {

                    TableTarget = $("#MyTable").DataTable({

                        searching: false,
                        ordering: true,
                        serverSide: true,
                        processing: true,
                        // cache: true,
                        ajax: ({
                            type: "post",
                            url: "../TEC_Management/Load_TEC_Approved_Detail",
                            dataSrc: "data",
                            //  data: { OPID: OPID },
                            dataType: "json",

                        }),

                        dom: '<"top"l>rt<"bottom">ip<"clear">',
                        columns: [

                            { data: "docNo", name: "docNo", class: "text-wrap text-center" },
                            { data: "reqOperatorID", name: "reqOperatorID", class: "text-wrap text-center" },
                            { data: "reqDate", name: "reqDate", class: "text-wrap text-center" },
                            { data: "totalJob", name: "totalJob", class: "text-wrap text-center" },

                            {
                                data: null,

                                render: function (data, type, row) {
                                    var Target = row.docNo
                                    debugger

                                    return "<a href='#' class='btn btn-info text-white' onclick=showdetail('" + encodeURIComponent(Target) + "'); >Detail</a>";

                                }, class: "text-wrap text-center"
                            },



                        ],
                        order: [0, "asc"],

                    });

                } catch (e) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: ("table:" + e)
                    })


                }
                finally {



                }



            }






            function showdetail(DocNo) {

                DocNo_ = decodeURIComponent(DocNo)

                if (TableTarget != null) {
                    TableTarget.destroy();
                }

                debugger
                try {

                    TableTarget = $("#MyTable_Detail").DataTable({
                        info: false,
                        searching: false,
                        ordering: false,
                        serverSide: true,
                        processing: true,
                         cache: true,
                        ajax: ({
                            type: 'POST',
                            url: '../TEC_Management/GetFullDetail',
                            dataType: 'json',
                            dataSrc: "data",
                            data: { DocNo: DocNo_ },
                        }),

                        dom: '<"top"><"bottom"><"clear">',
                        columns: [
                         //   { data: "nbr", name: "nbr", class: "text-wrap text-center" },
                        //    { data: "docNo", name: "docNo", class: "text-wrap text-center" },
                            { data: "seq", name: "seq", class: "text-wrap text-center" },
                            { data: "operatorID", name: "operatorID", class: "text-wrap text-center" },
                            { data: "sectionCode", name: "sectionCode", class: "text-wrap text-center" },
                            { data: "sectionAttribute", name: "sectionAttribute", class: "text-wrap text-center" },
                            { data: "operatorGroup", name: "operatorGroup", class: "text-wrap text-center" },
                            { data: "license", name: "license", class: "text-wrap text-center" },
                            { data: "active", name: "active", class: "text-wrap text-center" },
                            { data: "reqOperatorID", name: "reqOperatorID", class: "text-wrap text-center" },
                            { data: "reqDate", name: "reqDate", class: "text-wrap text-center" },
                         //   { data: "changeOperatorID", name: "changeOperatorID", class: "text-wrap text-center" },
                           // { data: "changeDate", name: "changeDate", class: "text-wrap text-center" },
                        ],
                        order: [0, "asc"],

                    });

                } catch (e) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: ("table:" + e)
                    })


                }
                finally {

                    $('#LB_DocNO').text(DocNo_);
                    $('#Modal_Detail').modal('show')

                }




            }


        $('#BTN_Approved').click(function (event) {

        var MakerID = '@User.Identity.Name';
            var DocNO = $('#LB_DocNO').text();

        Swal.fire({
            icon: 'warning',
            title: 'Are you sure?',
            text: "Are you sure you want to Approve Data ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Do it!'

        }).then(function (result) {
            if (result.value) {

                ApproveData(DocNO, MakerID)
            }

        })

            });


            function ApproveData(DocNO, MakerID) {

                $.ajax({
                    type: 'post',
                    url: "../TEC_Management/ApproveData",
                    dataSrc: "data",
                    data: { DocNO: DocNO, MakerID: MakerID },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success == true) {

                            Swal.fire({
                                position: 'top-mid',
                                icon: 'success',
                                title: (response.responseText),
                                showConfirmButton: true,
                                //   timer: 1700
                            }).then(function (result) {
                                // if (result.value) {

                                $('#Modal_Detail').modal('hide')
                                ShowGrid()

                            });



                        } else {
                            Swal.fire({
                                text: (response.responseText),
                                icon: 'error',
                                title: 'Oops...',
                                //     timer: 1700,
                            }).then(function () {
                                return false;
                            });
                        }

                    },
                    error: function (ex) {
                        Swal.fire({
                            text: ('MakeDataTemp :' + ex.statusText),
                            type: 'error',
                            //     timer: 1700,
                        }).then(function () {
                            return false;
                        });
                    },


                });
            }


      


        </script>
    }


</body>
</html>