


<h1>Additional Department</h1>

<br />







<div id="Form_Add">

    <div class="row justify-content-center">

        <div class="col-1">
            Division
        </div>
        <div class="col-2">
            @Html.DropDownList("DDL_Division", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_Division", @class = " custom-select custom-select-sm" })

        </div>
        <div class="col-1">
            Department
        </div>
        <div class="col-2">
            @Html.DropDownList("DDL_Department", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_Department", @class = " custom-select custom-select-sm" })

        </div>
        <div class="col-1">
            Section
        </div>
        <div class="col-2">
            @Html.DropDownList("DDL_Section", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_Section", @class = " custom-select custom-select-sm" })

        </div>
        <div class="col-1">
            <button class="btn btn-warning " id="BTN_ADD" >
                ADD
            </button>
        </div>

    </div>
</div>

<div id="Display_tableAdd">




</div>




<br />








<div id="display_grid">


    <div class="row justify-content-lg-start">
        <div class="col-1">

            <button type="button" class="btn btn-danger text-white" id="BTN_Delete" onclick="Delete_Data()">
                DELETE
            </button>

        </div>

    </div>
    <br />
    <table class="table table-sm table-bordered table-striped  " style="font-size:small; color:black; width:100%; background-color:#fff;" id="MyTable">
        <thead>
            <tr>
                <th style="text-align:center;" class="text-wrap">OperatorID</th>
                <th style="text-align:center;" class="text-wrap">SectionCode</th>
                <th style="text-align:center;" class="text-wrap">Division</th>
                <th style="text-align:center;" class="text-wrap">Department</th>
                <th style="text-align:center;" class="text-wrap">Section</th>
                <th style="text-align:center;" class="text-wrap"> Delete </th>

            </tr>
        </thead>

        @*@if (TempData["MobileList"] != null)
        {
            @foreach (var item in (List<string>)TempData["MobileList"])
            {
                <tr>
                    @foreach (var data in item.Split(','))
                    {
                        <td class="text-center">
                            @data
                        </td>
                    }
                    <td class="text-center">
                        <button type="button" class="btn btn-danger">
                            Delete
                        </button>

                    </td>

                </tr>

            }


        }*@

       

    </table>



</div>




<script>

    var MakerID = '@User.Identity.Name';
    var OPID = $("#strOPNo").val();

    if (TempData["MobileList"] != null) {

  debugger
    }

    function Getinitial() {

        GetDivision_Addition()

     
        if (OPID != '') {
            debugger
            Getdata(OPID, MakerID);

            var x = document.getElementById("display_grid");
            x.style.display = "block";
            var a = document.getElementById("Form_Add");
            a.style.display = "block";


            var t = document.getElementById("Display_tableAdd");
            t.style.display = "none";


        } else {

            var x = document.getElementById("display_grid");
            x.style.display = "none";

            var a = document.getElementById("Form_Add");
            a.style.display = "none";



            var t = document.getElementById("Display_tableAdd");
            t.style.display = "none";

        }



    }


    $("#DDL_Department").on("change", function () {
        debugger
        var DIV = $("#DDL_Division").val()
        var DEP = $("#DDL_Department").val()
        if ($("#DDL_Department").val != 0) {
            $("#DDL_Section option").remove();
            GetSection_Addition(DIV, DEP)
        } else {
            $("#DDL_Section option").remove();
        }
    });



    $("#DDL_Division").on("change", function () {
        debugger
        var DIV = $("#DDL_Division").val()
        if (DIV != 0) {
            $("#DDL_Department option").remove();
            $("#DDL_Section option").remove();
            GetDepartment_Addition(DIV)
        } else {
            $("#DDL_Department option").remove();
            $("#DDL_Section option").remove();
        }



    });

    $('#BTN_ADD').click(function (event) {


        var Sectioncode = $('#DDL_Section').val();


        debugger
        AddData_Data(OPID, MakerID, Sectioncode);




    });


    function GetuserDetail() {
        debugger

        var OPID = $("#strOPNo").val();


        if (OPID != "") {
            Getdata(OPID, MakerID)
        } else {
            return false
        }



    }



</script>