


<h1>Additional Department</h1>

<br />







<div id="Form_Add">

    <div class="row justify-content-center">

        <div class="col-1">
            Division
        </div>
        <div class="col-2">
            @Html.DropDownList("DDL_Division", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_Division", @class = " custom-select custom-select-sm" })

        </div>
        <div class="col-1">
            Department
        </div>
        <div class="col-2">
            @Html.DropDownList("DDL_Department", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_Department", @class = " custom-select custom-select-sm" })

        </div>
        <div class="col-1">
            Section
        </div>
        <div class="col-2">
            @Html.DropDownList("DDL_Section", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_Section", @class = " custom-select custom-select-sm" })

        </div>
        <div class="col-1">
            <button class="btn btn-warning " id="BTN_ADD" >
                ADD
            </button>
        </div>

    </div>
</div>

<div id="Display_tableAdd">




</div>




<br />








<div id="display_grid">


    <div class="row justify-content-lg-start">
        <div class="col-1">

            <button type="button" class="btn btn-danger text-white" id="BTN_Delete">
                DELETE
            </button>

        </div>

    </div>
    <br />
    <table class="table table-sm table-bordered table-striped  " style="font-size:small; color:black; width:100%; background-color:#fff;" id="MyTable">
        <thead>
            <tr>
                <th style="text-align:center;" class="text-wrap">OperatorID</th>
                <th style="text-align:center;" class="text-wrap">SectionCode</th>
                <th style="text-align:center;" class="text-wrap">Division</th>
                <th style="text-align:center;" class="text-wrap">Department</th>
                <th style="text-align:center;" class="text-wrap">Section</th>
                <th style="text-align:center;" class="text-wrap"> Delete </th>

            </tr>
        </thead>

    </table>

    <br />

    <div class="row justify-content-lg-center">
        <div class="col-2">

            <button type="button" class="btn btn-success w-100" id="BTN_Save">
                SAVE
            </button>

        </div>

    </div>
</div>




<script>

    var MakerID = '@User.Identity.Name';
    var OPID = $("#strOPNo").val();

 

    function Getinitial() {

        GetDivision_Addition()

     
        if (OPID != '') {
            debugger

            MakeDataTemp(OPID, MakerID);
         //   Getdata(OPID);

            var x = document.getElementById("display_grid");
            x.style.display = "block";
            var a = document.getElementById("Form_Add");
            a.style.display = "block";


            var t = document.getElementById("Display_tableAdd");
            t.style.display = "none";


        } else {

            var x = document.getElementById("display_grid");
            x.style.display = "none";

            var a = document.getElementById("Form_Add");
            a.style.display = "none";



            var t = document.getElementById("Display_tableAdd");
            t.style.display = "none";

        }



    }


    $("#DDL_Department").on("change", function () {
        debugger
        var DIV = $("#DDL_Division").val()
        var DEP = $("#DDL_Department").val()
        if ($("#DDL_Department").val != 0) {
            $("#DDL_Section option").remove();
            GetSection_Addition(DIV, DEP)
        } else {
            $("#DDL_Section option").remove();
        }
    });



    $("#DDL_Division").on("change", function () {
        debugger
        var DIV = $("#DDL_Division").val()
        if (DIV != 0) {
            $("#DDL_Department option").remove();
            $("#DDL_Section option").remove();
            GetDepartment_Addition(DIV)
        } else {
            $("#DDL_Department option").remove();
            $("#DDL_Section option").remove();
        }



    });

    $('#BTN_Save').click(function (event) {

        var OPID = $("#strOPNo").val();

        Swal.fire({
            title: 'Are you sure?',
            text: "Are you sure you want to save Data ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Do it!'

        }).then(function (result) {
            if (result.value) {         

                SaveData(OPID, MakerID)
                   
            }

        })


    });






    $('#BTN_ADD').click(function (event) {


        var Sectioncode = $('#DDL_Section').val();
        var OPID = $("#strOPNo").val();

        Swal.fire({
            title: 'Are you sure?',
            text: "Are you sure you want to Insert new Section ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Do it!'

        }).then(function (result) {
            if (result.value) {

                if (Sectioncode != "" && Sectioncode != "0") {


                    AddData_Data(OPID, MakerID, Sectioncode);


                }
                else {

                    Swal.fire({
                        text: ('Please select section '),
                        type: 'error',
                       // timer: 1700,
                    }).then(function () {
                        return false;
                    });

                }

            }

        })




    





    });



    $('#BTN_Delete').click(function (event) {
        var OPID = $("#strOPNo").val();

        debugger
        Swal.fire({
            title: 'Are you sure?',
            text: "Are you sure you want to Delete Section ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Do it!'

        }).then(function (result) {
            if (result.value) {

                Delete_Data(OPID, MakerID)
            }

        })


       




    });



    function GetuserDetail() {
        debugger

        var OPID = $("#strOPNo").val();


        if (OPID != "") {

            
            MakeDataTemp(OPID, MakerID);
        //    Getdata(OPID)
        } else {
            return false
        }



    }



</script>