
@{
    ViewData["Title"] = "Exam_Approved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>

<head>



</head>
<body>

    <div class="container">
        <div class="row justify-content-around">

            <h1>  Exam Approved </h1>

        </div>






    </div>


    @section Scripts
{

        <script>


            $(document).ready(function () {
                CheckRole()

            });



           function CheckRole() {
                if ( '@User.IsInRole("Admin")' != "True") {
                    window.location.href = "@Url.Action("index", "home")";
                }
            };



        </script>




}

    </body>
</html>

