
@{
    ViewData["Title"] = "Examination_Modal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <style>
        h6 {
            counter-reset: subsection;
        }
        h6::before {
            counter-increment: section;
            content: " " counter(section) ". ";
        }
    </style>

</head>

<body>
    <div class="container-fluid" id="form_main">





        @*<div class="row justify-content-center rounded bg-white m-2" id="Main_Form">*@
        <div class="container rounded bg-white m-2" id="Main_Form">

            <div id="Exam_Form">

                <div class="card">
                    <div class="card-body">

                        <div class="row justify-content-center" id="Question_Form">

                            <div class="col-10">

                                <div class="card rounded border-dark m-4">

                                    <div class="card-header badge-dark">
                                        <h3>
                                            Question
                                        </h3>
                                    </div>
                                    <div class="card-body">

                                        <div class="row justify-content-center  m-3">

                                            <div class="col-11 border border-dark  rounded">

                                                <div    class="Display_Question" id="Display_Question" style="min-height:70px; max-height:250px; overflow:auto;">

                                                </div>

                                            </div>

                                            <div class="col-1">
                                                <div class="row p-1">

                                                    <button class="btn btn-dark" id="BTN_Clear_Question" data-toggle="tooltip" data-placement="right" title="ลบทั้งหมด" onclick="Clear_Display('Display_Question')">
                                                        <i class="fas fa-eraser"></i>
                                                    </button>

                                                </div>
                                                <div class="row p-1">
                                                    <button class="btn btn-dark " data-toggle="tooltip" data-placement="right" title="เครื่องมือ" onclick="Show_Summernote('Display_Question')">
                                                        <i class="fas fa-paint-brush"></i>
                                                    </button>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> @*---- end form Que----------*@


                        <div class="row justify-content-center" id="Answer_Form">


                            <div class="col-10">

                                <div class="card border border-dark  rounded m-4">
                                    <div class="card-header badge-dark ">
                                        <h3>
                                            Answer
                                        </h3>
                                    </div>
                                    <div class="card-body">

                                        <div class="card border-0">
                                            <div class="card-body" id="FormDisplay_Answer">



                                                <div class="ANS" id="Ans1">
                                        
                                                    <div class="form-group row justify-content-center">
                                                        <div class="col-1">
                                                            <input type="radio" name="optradio" />
                                                        </div>
                                                        <div class="col-10 border border-dark  rounded m-3 p-3">
                                                          
                                                                <div class="Display_Answer" id="Display_Answer_1" style="min-height:70px; max-height:150px; overflow:auto;">

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row justify-content-end">
                                                        <div class="col-3">
                                                            <button class="btn btn-dark" data-toggle="tooltip" data-placement="right" title="Clear" onclick="Clear_Display('Display_Answer_1')">
                                                                <i class="fas fa-eraser"></i>
                                                            </button>


                                                            <button class="btn btn-dark " data-toggle="tooltip" data-placement="right" title="Tool" onclick="Show_Summernote('Display_Answer_1')">
                                                                <i class="fas fa-paint-brush"></i>
                                                            </button>

                                                            <button class="remove btn btn-dark" data-toggle="tooltip" data-placement="right" title="Delete">
                                                                <i class="fas fa-trash"></i>
                                                            </button>


                                                        </div>

                                                    </div>
                                                </div>



                                            </div>

                                            <hr class="bg-dark m-auto" style="width:95%;" />

                                            <div class="row justify-content-end m-3">
                                                <div class="col-2 text-right">
                                                    <button class="btn btn-dark " id="BTN_Add_New_Ans" data-toggle="tooltip" data-placement="right" title="เพิ่มคำตอบ" onclick="Add_Ans()">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="card-footer">



                        <button class="btn btn-success " id="BTN_Save">
                            <i class="fas fa-save"></i> Save
                        </button>



                    </div>

                </div>



            </div> @*---- end form ----------*@

            <br />








        </div>

    </div>


    <div class="modal fade" id="Modal_Summernote">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">



                    <div id="Display_Modal" class="border  rounded m-3 p-3" style="min-height:30px; max-height:150px; overflow:auto;">

                    </div>
                    <textarea class="form-control " id="Summernote_modal" name="" style="height:150px; overflow:auto;"></textarea>
                    <br />

                    <div class="row justify-content-end m-3">
                        <div class="col-2">
                            <button class="btn btn-info w-100" id="BTN_Add" onclick="Add_Detail_Display('Display_Modal','Summernote_modal')">
                                <i class="fas fa-plus"></i>     Add
                            </button>

                        </div>
                        <div class="col-2">
                            <button class="btn btn-info w-100" id="BTN_Edit" onclick="Edit_Detail_Display('Display_Modal','Summernote_modal')">
                                <i class="fas fa-edit"></i> Edit
                            </button>

                        </div>

                        <div class="col-2">
                            <button class="btn btn-danger w-100" id="BTN_Reset" onclick="Reset_Summernote('Summernote_modal')">
                                <i class="fas fa-trash-alt"></i> Reset
                            </button>

                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-success " id="BTN_Save" onclick="Save()">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>






    @section Scripts
{


        <script src="~/lib/summernote/dist/Bootstrap_4_4_1.js"></script>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <link href="~/lib/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
        <script src="~/lib/summernote/dist/summernote-bs4.min.js"></script>

        @*<link href="~/lib/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
            <script src="~/lib/summernote/dist/summernote-bs4.min.js"></script>*@

        <script>

            var TempDisplayID;
            var TempHTML;
            var AnsrowCount = 1


            $(document).ready(function () {

                //  $('#Summernote_Question').summernote({ height: 300 });
                //    $('#Summernote_Ans1').summernote({ height: 150 });
                //document.getElementById("Question_Tool").style.display = "none";
                //document.getElementById("Ans_Tool_1").style.display = "none";

                // GetExamCategory();

            });



            $(document).on('click', 'button.remove', function (e) {
                debugger
                var parent = document.getElementById("FormDisplay_Answer");

                var nodesSameClass = 0
                nodesSameClass = parent.getElementsByClassName("ANS");

                if (nodesSameClass.length > 1) {

                    e.preventDefault();

                    $(this).closest('div.ANS').remove();
                }




            });






            function Add_Ans() {

                debugger


                AnsrowCount++
                var newid = "Display_Answer_" + AnsrowCount
             
                var newel = $('.ANS:last').clone();
                var replaseID =  newel[0].childNodes['1'].children['1'].children[0]
                replaseID = replaseID.id       

              
            

                var re = new RegExp(replaseID, 'g');

                var HTMLText = $('.ANS:last').clone().html();
                HTMLText = HTMLText.replace(re, newid)
                //HTMLText = HTMLText + '</div>'
                newel[0].id = 'Ans' + AnsrowCount
                newel[0].innerHTML = HTMLText

                // Add after last <div class='input-form'>
                $(newel).insertAfter(".ANS:last")   //.find("*[id]").attr('id', 'Display_Answer_' + AnsrowCount).val("").clone().end();
                $('#' + newid + '').empty();
            }


            function Edit_Detail_Display(DisplayID, SummernoteID) {

                $('#BTN_Edit').attr('disabled', true);
                $('#BTN_Save').attr('disabled', true);

                Reset_Summernote(SummernoteID)
                var HTMLText = document.getElementById(DisplayID).innerHTML
                Summernote_PasteHTML(SummernoteID, HTMLText)
                DeleteHTML(DisplayID)
            };





            function Summernote_PasteHTML(SummernoteID, HTMLText) {
                $('#' + SummernoteID).summernote('pasteHTML', HTMLText);
            }


            function Add_Detail_Display(DisplayID, SummernoteID) {

                $('#BTN_Edit').attr('disabled', false);
                $('#BTN_Save').attr('disabled', false);

                var markup = $('#' + SummernoteID).summernote('code');
                InputHTML(DisplayID, markup)

                Reset_Summernote(SummernoteID)

            };


            function Show_Summernote(DisplayID) {

                debugger

                TempDisplayID = DisplayID

                $('#Summernote_modal').summernote({ height: 150 });
                Reset_Summernote('Summernote_modal')
                DeleteHTML('Display_Modal')
                var HTMLText = document.getElementById(DisplayID).innerHTML
                InputHTML('Display_Modal', HTMLText)
                $('#BTN_Edit').attr('disabled', false);
                $('#BTN_Save').attr('disabled', false);
                $('#Modal_Summernote').modal('show')
            }

            function Save() {

                var HTMLText = document.getElementById('Display_Modal').innerHTML
                DeleteHTML(TempDisplayID)
                InputHTML(TempDisplayID, HTMLText)
                $('#Modal_Summernote').modal('hide')

            }




            function Clear_Display(DisplayID) {
                DeleteHTML(DisplayID)
            }

            function Reset_Summernote(SummernoteID) {
                $('#' + SummernoteID).summernote('reset');
            }


            function InputHTML(elementID, Code) {
                document.getElementById(elementID).innerHTML += Code;
            }

            function DeleteHTML(elementID) {
                document.getElementById(elementID).innerHTML = "";
            }




            function ShowAndHid(ID) {
                var x = document.getElementById(ID);
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }


        </script>

    }








</body>

</html>

