
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
}




<html>
<head>

</head>

<body>

    <div class="container-fluid" id="formmain">


        <div class="row justify-content-lg-start">

            <div class="col-2 text-right">
                Exam Category

            </div>
            <div class="col-3">

                @Html.DropDownList("DDL_ExamCategory", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_ExamCategory", @class = " custom-select custom-select-sm" })
            </div>

            <div class="col-1 text-right">
                Exam Name

            </div>
            <div class="col-3">

                @Html.DropDownList("DDL_ExamName", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "DDL_ExamName", @class = " custom-select custom-select-sm" })

            </div>



        </div>


        <br />



        @*<div class="row justify-content-center rounded bg-white m-2" id="Main_Form">*@
        <div class="container rounded bg-white m-2" id="Main_Form">

            <div id="Exam_Form" >


                <div class="row justify-content-center" id="Question_Form">

                    <div class="col-10">

                        <div class="card rounded border-dark m-4">

                            <div class="card-header badge-dark">
                                <h3>
                                    Question
                                </h3>
                            </div>
                            <div class="card-body">

                                <div class="row justify-content-center  m-3">

                                    <div class="col-11 border  rounded">

                                        <div id="Display_Question" style="min-height:70px; max-height:250px; overflow:auto;">

                                        </div>

                                    </div>

                                    <div class="col-1">
                                        <div class="row p-1">

                                            <button class="btn btn-danger" id="BTN_Clear_Question"  data-toggle="tooltip" data-placement="right" title="ลบทั้งหมด" onclick="Clear_Display('Display_Question')">
                                                <i class="fas fa-eraser"></i>
                                            </button>

                                        </div>
                                        <div class="row p-1">
                                            <button class="btn btn-outline-secondary " data-toggle="tooltip" data-placement="right" title="เครื่องมือ" id="BTN_Tool" onclick="ShowAndHid('Question_Tool')">
                                                <i class="fas fa-paint-brush"></i>
                                            </button>

                                        </div>

                                    </div>

                                    </div>

                                    @*<div class="row justify-content-end m-3">

                                        <div class="col-1">
                                    
                                        </div>
                                        <div class="col-1">


                                        </div>
                                    </div>*@


                                    <div id="Question_Tool">
                                        <textarea class="form-control " id="Summernote_Question" name="" style="height:250px; overflow:auto;"></textarea>
                                        <br />

                                        <div class="row justify-content-end m-3">
                                            <div class="col-2">
                                                <button class="btn btn-success w-100" id="BTN_Add_Question" onclick="Add_Detail_Display('Display_Question','Summernote_Question')">
                                                    <i class="fas fa-plus"></i>     Add
                                                </button>

                                            </div>
                                            <div class="col-2">
                                                <button class="btn btn-info w-100" id="BTN_Edit_Question" onclick="Edit_Detail_Display('Display_Question','Summernote_Question')">
                                                    <i class="fas fa-edit"></i> Edit
                                                </button>

                                            </div>

                                            <div class="col-2">
                                                <button class="btn btn-danger w-100" id="BTN_Reset_Question" onclick="Reset_Summernote('Summernote_Question')">
                                                    <i class="fas fa-trash-alt"></i> Reset
                                                </button>

                                            </div>



                                        </div>

                                    </div>

                                </div>
                            <div class="card-footer badge-dark">



                            </div>





                        </div>





                    </div>




                </div> @*---- end form Que----------*@





                <div class="row justify-content-center" id="Answer_Form">


                    <div class="col-10">

                        <div class="card border-dark  rounded m-4">

                            <div class="card-header badge-dark ">
                                <h3>
                                    Answer
                                </h3>
                            </div>
                            <div class="card-body">
                                <div id="FormDisplay_Answer">

                                    <div class="row justify-content-center ">
                                        1.
                                        <div class="col-10">

                                            <div id="Display_Answer_1" class="border  rounded m-3 p-3" style="min-height:30px; max-height:150px; overflow:auto;">

                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <div class="row p-1">
                                                <button class="btn btn-danger"  data-toggle="tooltip" data-placement="right" title="ลบทั้งหมด" onclick="Clear_Display('Display_Answer_1')">
                                                    <i class="fas fa-eraser"></i>
                                                </button>


                                            </div>
                                            <div class="row p-1">
                                                <button class="btn btn-outline-secondary "  data-toggle="tooltip" data-placement="right" title="เครื่องมือ" onclick="ShowAndHid('Ans_Tool_1')">
                                                    <i class="fas fa-paint-brush"></i>
                                                </button>


                                            </div>
                                       
                                        </div>

                                    </div>
                                    @*<div class="row justify-content-end m-3">

                                        <div class="col-1">
                                          
                                        </div>

                                    </div>*@

                                    <div id="Ans_Tool_1">
                                        <textarea class="form-control " id="Summernote_Ans1" name="" style="height:150px; overflow:auto;"></textarea>
                                        <br />

                                        <div class="row justify-content-end m-3">
                                            <div class="col-2">
                                                <button class="btn btn-success w-100" id="BTN_Add_Question" onclick="Add_Detail_Display('Display_Answer_1','Summernote_Ans1')">
                                                    <i class="fas fa-plus"></i>     Add
                                                </button>

                                            </div>
                                            <div class="col-2">
                                                <button class="btn btn-info w-100" id="BTN_Edit_Question" onclick="Edit_Detail_Display('Display_Answer_1','Summernote_Ans1')">
                                                    <i class="fas fa-edit"></i> Edit
                                                </button>

                                            </div>

                                            <div class="col-2">
                                                <button class="btn btn-danger w-100" id="BTN_Reset_Question" onclick="Reset_Summernote('Summernote_Ans1')">
                                                    <i class="fas fa-trash-alt"></i> Reset
                                                </button>

                                            </div>



                                        </div>

                                    </div>

                                    <hr class="bg-dark" />


                                    <div class="row justify-content-end m-3">
                                        <div class="col-1">
                                            <button class="btn btn-dark w-100"  id="BTN_Add_New_Ans" data-toggle="tooltip" data-placement="right" title="เพิ่มคำตอบ">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="card-footer badge-dark">



                            </div>

                        </div>
                    </div>


                </div>



            </div> @*---- end form ----------*@

            <br />








        </div>

    </div>






    @section Scripts
{


        <script src="~/lib/summernote/dist/Bootstrap_4_4_1.js"></script>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <link href="~/lib/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
        <script src="~/lib/summernote/dist/summernote-bs4.min.js"></script>

        @*<link href="~/lib/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
            <script src="~/lib/summernote/dist/summernote-bs4.min.js"></script>*@

        <script>
            $(document).ready(function () {

                $('#Summernote_Question').summernote({ height: 300 });
                $('#Summernote_Ans1').summernote({ height: 150 });
                document.getElementById("Question_Tool").style.display = "none";
                document.getElementById("Ans_Tool_1").style.display = "none";

                GetExamCategory();

            });





            function Edit_Detail_Display(DisplayID, SummernoteID) {
                Reset_Summernote(SummernoteID)
                var HTMLText = document.getElementById(DisplayID).innerHTML
                Summernote_PasteHTML(SummernoteID, HTMLText)
                DeleteHTML(DisplayID)
            };



            function Summernote_PasteHTML(SummernoteID, HTMLText) {
                $('#' + SummernoteID).summernote('pasteHTML', HTMLText);
            }


            function Add_Detail_Display(DisplayID, SummernoteID) {

                var markup = $('#' + SummernoteID).summernote('code');
                InputHTML(DisplayID, markup)

                Reset_Summernote(SummernoteID)

            };


            function Clear_Display(DisplayID) {
                DeleteHTML(DisplayID)
            }

            function Reset_Summernote(SummernoteID) {
                $('#' + SummernoteID).summernote('reset');
            }


            function InputHTML(elementID, Code) {
                document.getElementById(elementID).innerHTML += Code;
            }

            function DeleteHTML(elementID) {
                document.getElementById(elementID).innerHTML = "";
            }


            function GetExamCategory() {

                debugger
                $.ajax({
                    type: 'POST',
                    url: '../Exam/GetCategory',
                    dataType: 'json',
                    success: function (Divisions) {
                        if (Divisions.length != 0) {
                            $.each(Divisions, function (i, div) {
                                $("#DDL_ExamCategory").append('<option value="' + div.value + '">' + div.text + '</option>');
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
            }

            function GetExamName(Category) {
                debugger
                $.ajax({
                    type: 'POST',
                    url: '../Exam/GetExamname',
                    dataType: 'json',
                    data: { Category, Category },
                    success: function (Divisions) {
                        if (Divisions.length != 0) {
                            $.each(Divisions, function (i, div) {
                                $("#DDL_ExamName").append('<option value="' + div.value + '">' + div.text + '</option>');
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            }



            $("#DDL_ExamCategory").on("change", function () {
                var Category = $("#DDL_ExamCategory").val()

                if (Category != 0) {
                    $("#DDL_ExamName option").remove();
                    GetExamName(Category)
                } else {
                    $("#DDL_ExamName option").remove();
                }
            });


            function ShowAndHid(ID) {
                var x = document.getElementById(ID);
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }


        </script>

    }



</body>
</html>

