
@{
    ViewData["Title"] = "New_Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>

</head>

<body>

    <div class="container-fluid p-4 justify-content-center">
        <h2>Select Exam</h2>
        <div class="container m-auto rounded bg-white p-xl-4">
            <div class="row justify-content-lg-start">

                <div class="col-2 text-right">

                    <b>  Exam Category</b>
                </div>
                <div class="col-3">
                    @Html.DropDownList("DDL_ExamCategory", new SelectList("", ""), new { @id = "DDL_ExamCategory", @class = " custom-select custom-select-sm" })
                </div>

                <div class="col-2 text-right">
                    <b>
                        Exam Name
                    </b>
                </div>
                <div class="col-3">
                    @Html.DropDownList("DDL_ExamName", new SelectList("", ""), new { @id = "DDL_ExamName", @class = " custom-select custom-select-sm" })
                </div>



            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col-2">

                    <button class="btn btn-success" onclick="Created_Exam()">Created Exam</button>

                </div>



            </div>


        </div>

    </div>


    @section Scripts
{

        <script>



            $(document).ready(function () {

                GetExamCategory();

            });

            function GetExamCategory() {

       
                $.ajax({
                    type: 'POST',
                    url: '../Exam/GetCategory',
                    dataType: 'json',
                    success: function (Divisions) {
                        if (Divisions.length != 0) {
                            $.each(Divisions, function (i, div) {
                                $("#DDL_ExamCategory").append('<option value="' + div.value + '">' + div.text + '</option>');
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
            }

            function GetExamName(Category) {
        
                $.ajax({
                    type: 'POST',
                    url: '../Exam/GetExamname',
                    dataType: 'json',
                    data: { Category: Category },
                    success: function (Divisions) {
                        if (Divisions.length != 0) {
                            $.each(Divisions, function (i, div) {
                                $("#DDL_ExamName").append('<option value="' + div.value + '">' + div.text + '</option>');
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            }

            function Created_Exam() {
          

                var ExamCode = $("#DDL_ExamName").val();

                Swal.fire({
                    icon: 'warning',
                    title: 'Are you sure?',
                    text: "Are you sure you want to Created Exam Data ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Do it!'

                }).then(function (result) {
                    if (result.value) {
                   

                        if (ExamCode != '' && ExamCode != null ) {

                             

                            window.location.href = "@Url.Action( "Examination","Exam")?Itemcode=" + ExamCode;


                        } else {

                            Swal.fire({
                                text: ("Please Selete Exam Name"),
                                icon: 'error',
                                title: 'Oops...',

                            }).then(function () {
                                return false;
                            });


                        }




                    }

                })




            }


         


            $("#DDL_ExamCategory").on("change", function () {
        
                var Category = $("#DDL_ExamCategory").val()

                if (Category != 0) {
                    $("#DDL_ExamName option").remove();
                    GetExamName(Category)
                } else {
                    $("#DDL_ExamName option").remove();
                }
            });




        </script>

    }

</body>






</html>

